.card {
	flex: 1 0 25%;
	background-color: settings.$color-2;
	border-radius: 10px;
	overflow: hidden;
	max-width: 350px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
	width: 100%;
  position: relative;
	animation: cardAppear 1s ease-in-out;
	&:hover {
		transform: scale(1.05);
	}

	&::after {
	  content: "";
	  position: absolute;
	  height: 90px;
	  width: 100%;
	  background: linear-gradient(180deg, rgba(47, 9, 71, 0) 0%, settings.$color-1 55%);
	  left: 50%;
	  transform: translateX(-50%);
	  bottom: 0;
	}

	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
	h2 {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0.5rem;
	}
	.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
		padding:0 1rem;

		h4 {
			font-size: 1rem;
			font-weight: 400;
		}

		h5 {
			letter-spacing: 1px;
			font-size: 1rem;
			font-weight: 300;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;
		}

		li {
			background: settings.$color-1;
			border-radius: 18px;
			padding: 4px 8px;
			font-size: 1rem;
		}

		p {
			color: settings.$color-5;
			font-size: 1rem;
			line-height: 1.25rem;
			height: 10rem;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				display: none;
			}
		}
		.fa-star {
			color: #eeb31d;
		}
		.btn {
			background-color: settings.$color-3;
      position: absolute;
      z-index: 99;
      bottom: 10px;
      right: 10px;
			border: none;
			color: white;
			padding: 5px 10px;
			border-radius: 5px;
			cursor: pointer;
			font-size: 14px;
			text-transform: uppercase;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: settings.$color-1;
        border: 1px solid settings.$color-3;
        color: settings.$color-3;
			}
		}
	}
}
