.form-component {
	.form-container {
		text-align: center;
	}
	form {
		width: 19.75rem;
		margin: 0 auto;

		input[type="text"] {
			padding: 1px 10px;
			border-radius: 10px 10px 0 0;
			border: none;
			font-size: 1.5rem;
			display: block;
			margin: 0 auto;
			width: 18.75rem;
			outline: none;
			text-align: center;
		}
		input[type="submit"] {
			padding: 1px 10px;
			width: 18.75rem;
			border-radius: 0 0 10px 10px;
			border: none;
			background: settings.$color-1;
			color: settings.$color-5;
			font-size: 1.5rem;
			cursor: pointer;
			z-index: 10;
			position: relative;
			border: 1px solid settings.$color-3;
			border-radius: 0 0 0.625rem 0.625rem;

			&:hover {
				background: settings.$color-3;
			}
		}
	}
	.btn-sort-container {
		border: 1px solid settings.$color-3;
		margin: 8px auto;
		width: 18.75rem;
		display: flex;
		justify-content: space-around;
		border-radius: 0.625rem;
		cursor: pointer;

		#goodToBad {
			border-radius: 0.625rem 0 0 0.625rem;
		}
		#badToGood {
			border-radius: 0 0.625rem 0.625rem 0;
		}
		#goodToBad,
		#badToGood {
			background: settings.$color-1;
			width: 100%;
			transition: 0.3s;
			position: relative;
			padding: 0.5rem;
			&:hover {
				background: settings.$color-3;
			}
		}
	}
}
