@font-face {
	font-family: "font-1";
	src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
	font-family: "font-2";
	src: url(../fonts/Dosis-Regular.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;

$color-1: #160827;
$color-2: #361836;
$color-3: #fc094b;
$color-4: #848593;
$color-5: #eeeff5;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: $font-1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	background: -webkit-linear-gradient(
		344deg,
		rgba(231, 44, 119, 1) 0%,
		rgba(91, 30, 69, 1) 50%,
		rgba(2, 0, 36, 1) 100%
	);
	background: linear-gradient(
		344deg,
		rgba(231, 44, 119, 1) 0%,
		rgba(91, 30, 69, 1) 50%,
		rgba(2, 0, 36, 1) 100%
	);
	background-size: cover;
	background-repeat: no-repeat;
	color: $color-5;
}

.result {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	justify-content: center;
	padding: 1.25rem;
	gap: 1.25rem;
}

//Animation

@keyframes cardAppear {
	from {
		opacity: 0;
		transform: translate(1rem, 1rem);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
