@font-face{
  font-family: "font-1";
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../fonts/Dosis-Regular.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;

$color-1: #160827;
$color-2: #23243E;
$color-3:#F22577;
$color-4:#848593;
$color-5: #eeeff5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: $font-1;
}

body {
  background-color: $color-1;
  color: $color-5;
}

h1{
  padding: 1.25rem;
}

.result{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

> h2 {
  text-align: center;
  font-size: 1.9rem;
  letter-spacing: 1px;
}